body{
    height: 500px;
    border: 2px solid green;
    box-sizing: border-box;
}

.flex-container {
    margin: auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px dashed purple;
}

.flex-container div {
    margin: 20px;
    padding: 30px;
    background-color: pink;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
}
